<ol>
  <% @tasks.where(parent_task_id: nil).each do |task| %>
    <li>
      <%= render_task_status(task) %>
      <%= link_to task.title, task_path(task), class: "task-link" %>
    </li>
  <% end %>
</ol>

<%= form_with model: @task, class: "task-form" do |form| %>
  <%= form.label :title, "新規ルートタスク" %>
  <%= form.text_field :title %>

  <%= form.submit "Create" %>
<% end %>
